<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <title>Layout</title>
    <link rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../../css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand"
              href="https://github.com/ultraq/thymeleaf-layout-dialect">
              Thymeleaf - Layout
          </a>
          <ul class="nav">
            <li>
              <a th:href="@{/}" href="messages.html">
                Messages
              </a>
            </li>
          </ul>
        </div>
      </div>
      <h1 layout:fragment="header">Layout</h1>
      <div layout:fragment="content">
      	<table>
      		<tr th:each="channel : ${channels}">
      			<td><img height="42" width="42" src="test.png" th:attr="src=${channel.iconUrl}"/></td>
      			<td>
      				<a href="#" th:href="@{'rtp://'+${channel.vlcUrl}}" th:text="${channel.displayName}">Link</a>
      			</td>
      			<td th:text="${channel.vlcUrl}"></td>
      		</tr>
      	</table>
      </div>
    </div>
  </body>
</html>